html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
body {
    margin: 0;
}
  
svg {
    display: inline-block;
    vertical-align: middle;
}
  
.App {
    font-family: sans-serif;
    text-align: center;
}




h1 {
    margin: 0;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 5px;
    margin: 10px;
}

.map-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.map-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0 30px;
}

.map-filter-btn {
    padding: 10px 20px;
    border-radius: 10px;
}

