html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
body {
    margin: 0;
}
  
svg {
    display: inline-block;
    vertical-align: middle;
}
  
.App {
    font-family: sans-serif;
    text-align: center;
}




h1 {
    margin: 0;
}

.map-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 5px;
    margin: 10px;
}